@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff') format('woff');
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow';
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url(../img/desktop/back-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: 1338px auto;
    /* @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
            background-image: url(img/bg-header@2x.jpg);
        }*/
  }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
/*
@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__logo {
        background-image: url(img/bg-header@2x.jpg);
        background-size: 1338px auto;
    }
}*/
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .page-header__logo img {
    margin-top: 57px;
  }
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  /* margin: 0 auto; */
  background-color: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000;
  }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* .main-nav__wrapper {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: 0 auto;
    } */
}
.site-list {
  font-weight: bold;
}
.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    /*  justify-content: flex-start; */
    justify-content: space-around;
    flex-grow: 1;
    width: 570px;
  }
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 30px;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
    background: #826650;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
    justify-content: flex-start;
  }
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active:after {
    right: 30px;
    left: 30px;
  }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px;
  }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
  .user-list__login-icon {
    left: 15px;
  }
}
.stats {
  width: auto;
}
.stats__header {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  padding: 0px 20px;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #292929;
}
.stats__legend--top {
  display: none;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__list {
  border-spacing: 0px;
  background-color: #404040;
  width: 100%;
}
.stats__list tr:nth-child(2n) {
  background-color: #4e4e4e;
}
.stats__list td {
  padding: 20px;
}
.stats__list tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__list tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__list tr:nth-child(3) {
  background-color: #353535;
}
.stats__list tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 35px;
  line-height: 35px;
  width: 52%;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
    text-transform: none;
  }
  /*.stats__slogan br {
       display: none;
   } */
  .stats__intro {
    width: 37.5%;
    margin-top: 5px;
    padding: 0;
    padding-right: 30px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__list tr {
    width: 50%;
    box-sizing: border-box;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    text-align: left;
    font-size: 65px;
    line-height: 65px;
  }
  .stats__value--sup {
    margin-top: -18px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    flex-direction: column;
    width: 300px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px;
    margin-left: 20px;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
    margin-left: 20px;
  }
  .stats__legend--top {
    width: auto;
    margin-top: auto;
  }
  .stats__list {
    display: flex;
    width: 640px;
  }
}
.advantages {
  margin-bottom: -30px;
}
.advantages__item {
  list-style: none;
}
.advantages__item {
  text-align: center;
  margin-left: -30px;
}
.advantages__item h3 {
  font-size: 30px;
}
.advantages {
  background-color: #242424;
}
.stats__legend--bottom {
  background-color: #242424;
}
.advantages__description {
  padding: 5px 40px;
  margin-top: -15px;
  font-size: 20px;
  line-height: 27px;
}
.advantages::after {
  content: "";
  display: block;
  position: absolute;
  height: 35px;
  width: 100%;
  background: url(../img/desktop/smart\ object\ my\ dark.svg) no-repeat;
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .advantages::after {
    margin-top: -24px;
  }
  .advantages__list {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  body {
    background-color: #353535;
  }
  .advantages::after {
    height: 45px;
    width: 100%;
    background: url(../img/desktop/smart\ object\ my\ light.svg) no-repeat;
    margin-top: -30px;
  }
  .advantages {
    background-color: #353535;
  }
  .advantages__item {
    text-align: start;
    margin-left: 0;
    display: flex;
    border-bottom: 2px solid;
    border-color: #4a4a4a;
    margin-bottom: 35px;
  }
  .advantages__item h3 {
    margin-left: 33px;
    font-size: 30px;
    line-height: 42px;
  }
  .advantages__description {
    margin-left: -7px;
    font-size: 20px;
    line-height: 27px;
  }
  .advantages__wrapper {
    padding: 40px 65px;
    padding-left: 20px;
  }
  .advatages__item--wrapper {
    margin-top: -40px;
  }
  .reviews__vector-image--bottom {
    display: none;
  }
  .reviews__vector-image--top {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages::after {
    height: 65px;
  }
  .advantages__item {
    flex-direction: column;
    border: 0;
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
    display: block;
    width: 320px;
  }
  .advantages__item h3 {
    margin-left: 0;
  }
  .advantages__list {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
  }
  .advantages__item--fast img {
    margin: 30px 110px;
  }
  .advantages__item--fast .advantages__title {
    margin: 30px 112px;
  }
  .advantages__item--fast .advantages__description {
    margin: 22px 44px;
    padding: 0;
  }
  .advantages__item--cool img {
    margin: 30px 110px;
  }
  .advantages__item--cool .advantages__title {
    margin: 31px 120px;
  }
  .advantages__item--cool .advantages__description {
    margin: 22px 58px;
    padding: 0;
  }
  .advantages__item--price {
    padding-right: -100px;
    margin-right: 0;
  }
  .advantages__item--price img {
    margin: 30px 110px;
  }
  .advantages__item--price .advantages__title {
    margin: 33px 111px;
  }
  .advantages__item--price .advantages__description {
    margin: 20px 40px;
    padding: 0;
  }
}
.news {
  background-image: url(../img/desktop/beige\ back.png);
  color: #000;
  margin-bottom: -25px;
}
.news__list {
  list-style: none;
}
.news__title {
  line-height: 30px;
  text-align: center;
}
.news__date {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: 12px 20px 0 0;
  padding: 10px 13px 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-transform: lowercase;
  background-color: #000;
  transition: background-color 0.1s linear, color 0.2s linear;
  box-sizing: border-box;
  bottom: -20px;
}
.news__day {
  font-size: 25px;
  line-height: 25px;
}
.news__date::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -9px;
  left: 0;
  border: 10px solid transparent;
  border-top-color: #000;
  border-right-width: 25px;
  border-bottom: none;
  border-left-width: 25px;
  transition: border-color 0.1s linear;
}
.news__text {
  padding-bottom: 10px;
  font-weight: bold;
}
.news__link {
  display: flex;
  margin-left: -15px;
  margin-right: 15px;
}
.news__item {
  font-size: 18px;
  line-height: 27px;
}
.news__item a {
  text-decoration: none;
  color: #000;
}
.news__item a:hover,
.news__item a:focus {
  color: #826550;
}
.news__item a:hover .news__date,
.news__item a:focus .news__date {
  background-color: #826550;
}
.news__item a:hover .news__date::after,
.news__item a:focus .news__date::after {
  color: #826550;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -9px;
  left: 0;
  border: 10px solid transparent;
  border-top-color: #826550;
  border-right-width: 25px;
  border-bottom: none;
  border-left-width: 25px;
  transition: border-color 0.1s linear;
}
.news__item a:active {
  color: #6a4d38;
}
.news__text:active,
.news__text:focus {
  text-decoration: underline;
}
.news__to-all {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid;
  border-color: #e5ddd5;
  padding: 15px 80px;
}
.news__to-all--p {
  text-align: center;
  margin-left: -5px;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .news__to-all--top {
    display: none;
  }
  .news__title {
    padding-top: 50px;
    font-size: 30px;
  }
  .news__item--border a {
    border-bottom: 2px solid;
    border-color: #e5ddd5;
  }
}
@media (min-width: 768px) {
  .news__title {
    font-size: 40px;
    line-height: 30px;
  }
  .news__to-all--top {
    padding-top: 15px;
  }
  .news__wrapper--tablet {
    display: flex;
    justify-content: space-between;
    padding: 60px 64px 0px;
  }
  .news__to-all--down {
    display: none;
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 30px;
    padding-left: 65px;
    flex-grow: 1;
  }
  .news__item {
    max-width: 315px;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .news {
    padding-bottom: 50px;
  }
  .news__wrapper {
    display: block;
    padding: 10px 0px;
  }
  .news__wrapper--tablet {
    margin: 0 auto;
    max-width: 960px;
  }
  .news__list {
    margin: 0 auto;
    max-width: 1200px;
  }
  .news__title {
    margin-left: 90px;
  }
  .news__to-all--top {
    margin-right: 70px;
  }
  .news__text {
    max-width: 220px;
  }
}
.reviews {
  background-image: url(../img/desktop/beige\ back.png);
  color: #000;
  padding-bottom: 50px;
  border-top: 2px solid;
  border-color: #e5ddd5;
}
.reviews__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: -10px;
  padding-bottom: 15px;
}
.reviews__item {
  display: flex;
  padding: 0;
  margin: 0;
}
.reviews__author-pictuwre--first {
  padding-right: 20px;
  padding-left: 20px;
}
.reviews__author-pictwure--second {
  padding-right: 15px;
  padding-left: 10px;
}
.reviews__author-image {
  max-width: 60px;
}
.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
}
.reviews__text {
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 767px) {
  .reviews::after {
    content: "";
    display: block;
    position: absolute;
    height: 35px;
    width: 100%;
    background: url(../img/mobile/smart\ object\ bottom\ mobile.svg) no-repeat;
    transform: rotate(180deg);
    margin-top: 25px;
  }
  .reviews__author-image {
    padding-right: 20px;
  }
  .reviews__write {
    display: none;
  }
  .prev__button {
    display: none;
  }
  .next__button {
    display: none;
  }
  .slider__toggles {
    display: none;
  }
  .reviews__item {
    padding: 0px 30px;
  }
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 40px;
    line-height: 30px;
  }
  .reviews__wrapper--tablet {
    display: flex;
    justify-content: space-between;
    padding: 20px 64px;
  }
  .reviews__write--top {
    padding-top: 15px;
    text-align: center;
    margin-left: -5px;
    padding-bottom: 40px;
  }
  .reviews__write {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid;
    border-color: #e5ddd5;
    padding: 15px 80px;
  }
  .slider__wrapper {
    display: block;
    margin: 0 auto;
    max-width: 540px;
    height: 160px;
  }
  .slider__list {
    position: relative;
    border: 2px solid;
    margin: 0px 100px;
    margin: 0 auto;
    width: 540px;
    height: 160px;
    margin-top: -29px;
  }
  .slider__list blockquote {
    margin: 35px 30px;
  }
  .reviews__author-picture {
    padding-right: 28px;
  }
  .reviews__prev,
  .reviews__next {
    display: block;
    position: relative;
    height: auto;
    flex-grow: 1;
    max-width: 100px;
    font-size: 0;
    border: 1px solid #e5ddd5;
    background-color: #f8f5f2;
  }
  .reviews__prev::before,
  .reviews__next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6px;
    border: 6px solid transparent;
    border-right: 12px solid #000;
    border-left: none;
  }
  .reviews__prev {
    order: -1;
    border-right: none;
  }
  .reviews__next {
    border-left: none;
    padding: 80px 24px;
    border: 2px solid;
  }
  .reviews__next::before {
    transform: rotate(180deg);
  }
  .reviews__prev {
    position: absolute;
    padding: 80px 24px;
    border: 2px solid;
  }
  .prev__button {
    position: absolute;
    margin-left: -80px;
    margin-top: -37px;
  }
  .next__button {
    position: absolute;
    margin-left: 510px;
    margin-top: -37px;
  }
}
@media (min-width: 1200px) {
  .slider__list {
    width: 818px;
  }
  .reviews__wrapper--tablet {
    margin: 0 auto;
    max-width: 960px;
  }
}
.page-footer {
  background-color: #292929;
}
.page-footer__wrapper {
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
  margin-top: -25px;
  padding-top: 36px;
}
.page-footer__contacts {
  padding: 0px 20px;
  padding-top: 33px;
  padding-bottom: 27px;
}
.contacts__text {
  font-size: 18px;
}
.contacts__phone {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.footer__social {
  display: block;
  margin: 0 auto;
  max-width: 280px;
}
.social__list {
  display: flex;
  padding: 10px 30px;
}
.social__item {
  padding: 0px 10px;
}
.footer__friends--desktop {
  display: none;
}
.page-footer__copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.copyright__link {
  border: 2px solid;
  border-color: #fff;
  padding: 5px 10px;
  margin: 10px 20px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}
.copyright__link:hover {
  background-color: #fff;
}
.footer__social--desktop {
  display: none;
}
.copyright__link {
  border-radius: 10px;
}
@media (max-width: 767px) {
  .contacts {
    text-align: center;
  }
  .page-footer__contacts {
    border: 1px solid;
    border-color: #3e3e3e;
  }
  .contacts__phone-mobile {
    display: none;
  }
  .contacts__phone {
    padding: 16px 65px;
    border: 2px solid;
    border-color: #3e3e3e;
  }
  .contacts__text {
    padding-bottom: 23px;
  }
  .copyright__top {
    display: none;
  }
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 640px;
  }
  .pazxcsfasfage-footer__wrapper {
    max-width: 640px;
  }
  .copyright__bottom {
    display: none;
  }
  .brr {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer__friends--desktop {
    display: block;
    text-align: center;
  }
  .footer__social {
    display: none;
  }
  .footer__social--desktop {
    display: block;
  }
  .contacts {
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-around;
  }
  .copyright__link {
    border-radius: 0px;
  }
}
.social__title {
  display: none;
}
.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  background-image: url(../img/PNG/Фон\ для\ Контактів.png);
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  /*z-index: 2;*/
}
/*.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;

    /*background: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}*/
.modal-login {
  top: 120px;
  left: 50%;
  display: none;
  width: 300px;
  margin-left: -250px;
  padding: 50px 80px;
}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.modal-description {
  margin: 0;
  margin-bottom: 10px;
}
/*..........................................................................*/
.login-form p {
  margin: 0;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
/*..........................................*/
.login-icon-user {
  background-image: url(../img/SVG/user.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-icon-password {
  background-image: url(../img/SVG/lock.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
/*........................*/
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  /*плюс вибирає саме один наступний елемент, але якщо замість нього стоїть тільда(~) то вона вибере всі наступні елементи які підходять під опис, наприклад зараз ми поставили один спан після класу, і плюс вибрав його, але якщо би спанів було багато то плюс всеодно вибрав би тільки один спан. а тільда вибрала би всі спани*/
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  /* border-radius: 50%;*/
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
